.dropdown-btn{
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
    align-self: center;
    padding: 5px;
    position: absolute;
    right: 28px;
    top: 28px;
}
@media(max-width: 768px){
    .dropdown-btn{
        display: inline-block;
    }
}
.cross-icon{
    display: none;
}

.dropdown-btn__icon{
    width: 30px;
    height: 5px;
    background-color: var(--turquoise-color);
}
.dropdown-btn__icon:not(:nth-last-child(1)){
    margin-bottom: 5px;
}

.dropdown-menu{
    display: none;
    background-color: var(--turquoise-color);
    padding-top: 17px;
}
@media (max-width: 768px){
    .dropdown-menu{
        display: none;
    }
}

.dropdown-menu .navbar-list{
    flex-direction: column;
}
.dropdown-menu .navbar-link{
    display: block;
    padding: 13px 0;
    height: auto;
    text-align: center;
    color: var(--white-color);
}