.header-left{   
    display: flex;
    justify-content: space-between;
    width: 60%;
}
@media (max-width: 1000px){
    .header-left{
        width: 55%;
    }
}

.header-right{
    display: flex;
    justify-content: end;
    width: 40%;
}
