@font-face {
  font-family: "Ferry";
  src: url(./fonts/ferry_black.otf);
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
